[submodule "dependencies/Graphics"]
	path = dependencies/Graphics
	url = https://github.com/Thomas-Chqt/Graphics.git
[submodule "dependencies/UtilsCPP"]
	path = dependencies/UtilsCPP
	url = https://github.com/Thomas-Chqt/UtilsCPP.git
